main {
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}

.active {
	color: #dc4734;
}

.banner {
	background-image: url('../../img/banner.jpg');
	width: 100%;
	height: 370px;
	display: flex;
	background-size: cover;
}

.top {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	flex-direction: row;
}

.ava {
	width: 50%;
	margin-top: -140px;
	display: flex;
	align-items: flex-start;
	justify-content: start;
	position: relative;
}

.ava img {
	width: 270px;
	height: 270px;
	background-color: white;
	border: 10px solid rgb(255, 255, 255);
	margin-left: 350px;
}

.nav {
	font-size: 16px;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 50%;
	margin-right: 350px;
}

button {
	color: white;
	font-size: 12px;
	font-weight: 700;
	border-radius: 50px;
	border: none;
	background-color: #dc4734;
	width: 100px;
	height: 35px;
}

button:hover {
	color: white;
	cursor: pointer;
}

button,
button:active,
button:focus {
	outline: none;
}